:root {
  --white: #ffffff;
  --black: #000000;
  --arrow-black: #231F20;
  --dark: #283136;
  --basic-dark: #444444;
  --midle-dark: #666666;
  --grey: #eeeeee;
  --checkbox-grey: #4D4D4D;
  --border-shadow: rgba(0, 1, 1, 0.1);
  --border-grey: #D7DCDE;
  --border-grey-midle: #DBDBDB;
  --border-grey-dark: #B4B9BB;
  --cart-grey: #A6A6A6;
  --light-grey: #E1E1E1;
  --midle-grey: #DFDFDF;
  --dark-grey: #D5D5D5;
  --basic-red: #FB565A;
  --midle-red: #E74246;
  --dark-red: #D7373B;
  --basic-green: #00CA74;
  --midle-green: #00BC6C;
  --dark-green: #00AA62;
  --basic-yellow: #EFC84A;
  --midle-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background-color: var(--grey);
}

.main-nav {
  width: 1160px;
  margin: 0 auto;
  padding: 75px 0;
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.main-nav-logo img {
  margin: -30px 0 0;
  padding: 0;
}

.site-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 245px 0 165px;
}

.site-nav a {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--basic-red);
}

.site-nav a:active {
  color: var(--black);
  opacity: 0.3;
}

.cart {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.cart:hover,
.cart:focus {
  color: var(--basic-red);
}

.cart:active {
  color: var(--black);
  opacity: 0.3;
}

.slider-wrapper {
  background-color: var(--grey);
}

.slider {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.slide {
  width: 538px;
}

.slide-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-text {
  color: var(--dark);
}

.slide-2 {
  display: none;
}

.slide-3 {
  display: none;
}

.slider-buttons {
  margin-top: 200px;
}

.bullet-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.button {
  font: inherit;
  border: none;
  border-radius: 3px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  text-align: center;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: var(--midle-red);
}

.button:active {
  background-color: var(--dark-red);
}

.button-app {
  background-color: var(--basic-green);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--midle-green);
}

.button-app:active {
  background-color: var(--dark-green);
}

.button-presentation {
  background-color: var(--basic-yellow);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--midle-yellow);
}

.button-presentation:active {
  background-color: var(--dark-yellow);
}

.offer {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.offer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.offer-text {
  color: var(--dark);
}

.about-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 149px;
}

.slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  color: var(--dark);
}

.about-title {
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 700;
}

.about-list {
  list-style: none;
}

.about-list p {
  color: var(--dark);
}

.statistics-text {
  font-weight: 700;
  text-transform: uppercase;
}

.statistics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
}

.number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
}

.statistics-list p {
  line-height: 18px;
  color: var(--dark);
}

.work {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.address-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address-text {
  line-height: 18px;
  color: var(--midle-dark);
}

.footer-social {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-list {
  list-style: none;
}

.social-offer {
  justify-self: center;
}

.social-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.social-offer-text {
  line-height: 22px;
  color: var(--basic-dark);
}

.page-title-wrapper {
  background-color: var(--grey);
}

.page-title {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 108px;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.catalog-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 260px 1fr;
}

.sort-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
}

.sort-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 1;
}

.sort-item-current {
  font-size: 14px;
  line-height: 18px;
  padding-top: 4px;
  text-transform: uppercase;
  color: var(--black);
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 443px;
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  color: var(--black);
  background-color: var(--grey);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--midle-grey);
}

.pagination-item a:active {
  background-color: var(--dark-grey);
  box-shadow: inset 0 3px 0 var(--border-shadow);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--border-grey-midle);
  box-shadow: none;
  background-color: var(--white);
}

.promo-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.promo-list-item {
  margin-right: 42px;
  margin-bottom: 31px;
}
